@import '../../../styles/panels';

.execution {
	width: 100%;
	height: 100%;
	position: relative;
	background: $v-gradient-background;

	.inputLabel {
		width: 350px;
		display: flex;
		align-items: center;

		.text {
			font-size: 25px;
		}

		.input {
			flex-grow: 1;
			margin-left: 1rem;
		}
	}

	.execution-end {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

		&.success {
			background: green;
		}

		&.fail {
			background: red;
		}
	}
}

.logo {
	position: absolute;
}

.corner-logo {
	margin: 1rem;
	top: 0;
	right: 0;
}
