$light-green: #24ba11;
$dark-green: #138400;

$light-gray: #9e9e9e;
$black: black;
$white: white;

$color-primary: $dark-green;
$color-primary-contrast: $white;

$color-secondary: $light-gray;
$color-secondary-contrast: $white;

$color-background: $black;
$color-background-contrast: $white;
