.panel {
	.room-code {
		font-size: 56px;
	}

	.start-button-bar {
		margin: 0;
		padding-bottom: 1rem;

		button {
			width: 100%;
		}
	}

	.titla-message {
		text-align: center;
		margin: 0;
		padding-bottom: 1rem;
	}
}
