@import "../../styles/colors";

.logo {
	position: relative;
	display: inline-block;
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, 50%);
	text-transform: uppercase;
	text-shadow: 2px 2px $black;
	color: $white;
	line-height: 0.9;
}

.svg {
	color: $color-primary;
}

.the {
	margin-left: 1em;
}

.mole {
	font-weight: bold;
	margin-left: 0.8em;
}
