.full-screen-loader {
	display: none;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-color: rgba(0, 0, 0, 0.25);

	.loading-element {
		height: 120px;
		width: 120px;

		position: absolute;
		top: 50%;
		left: 50%;

		transform: translate(-50%, -50%);

		display: flex;
		align-items: center;
		justify-content: center;

		i.fas {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			font-size: 120px;

			-webkit-animation: spin 1s linear infinite;
			-moz-animation: spin 1s linear infinite;
			animation: spin 1s linear infinite;
		}
	}

	&.loading {
		display: block;
	}
}

@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(360deg);
	}
}
@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
